<html>
    <head>
        <title>Mock Practice Generator</title>
    </head>
    <body>
        <form action="http://localhost:5000/generate-routine" method="post">
            <select multiple name="Topics">
                {% for item in list_of_topics %}
                    <option>{{item}}</option>
                {% endfor %}
            </select>

            <select name="Time">
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
            </select>
            <br><br>



            <input type="submit">
        </form>
    </body>
</html>

